* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-family: Poppins, Helvetica, sans-serif;
}

header {
    background-color: rgb(176, 102, 92);
}

nav {
    display: flex;
    place-content: space-between;
    place-items: center;
    padding: 1rem 3rem;
}

nav h1 {
    font-size: 2.5rem;
    color: rgb(226, 225, 225);
    font-family: "Playfair Display", serif;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1rem;
}

nav li a{
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(226, 225, 225);
    font-family: Poppins, sans-serif;
    transition: 300ms;
}

nav li a:hover {
    color: rgb(34, 34, 34);

}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    display: flex;
    flex-direction: column;
    transform: translateY(100%);
    align-items: center;
}


section h1 {
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-size: 3.5rem;
}

section p {
    font-size: 2.2rem;
    margin-bottom: 3rem;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

button {
    padding: .8rem 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: .5rem;
    background-color: #FFDAB9;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 300ms;
}

button:hover {
    border: 1px solid black;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

form {
    margin-bottom: 2rem;
}

form input {
    border: 1px solid rgb(118, 116, 116);
    border-radius: .5rem;
    padding: .5rem .5rem;
    margin-bottom: 1rem;
    background-color: rgba(223, 223, 223, 0.515);
}