* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-family: Poppins, Helvetica, sans-serif;
    height: 100dvh;
}

header {
    background-color: rgb(176, 102, 92);
}

nav {
    display: flex;
    place-content: space-between;
    place-items: center;
    padding: 1rem 3rem;
}

nav h1 {
    font-size: 2.5rem;
    color: rgb(226, 225, 225);
    font-family: "Playfair Display", serif;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1rem;
}

nav li a{
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(226, 225, 225);
    font-family: Poppins, sans-serif;
    transition: 300ms;
}

nav li a:hover {
    color: rgb(34, 34, 34);

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80dvh;
}


section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;;
    height: 100%;
}

#company-profile {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

#company-profile h2 {
    text-align: center;
    margin-bottom: 2rem;
}

section h1 {
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-size: 3.5rem;
}

section p {
    font-size: 2.2rem;
    margin-bottom: 3rem;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

button {
    padding: .8rem 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: .5rem;
    background-color: #FFDAB9;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 300ms;
}

button:hover {
    border: 1px solid black;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

form {
    margin-bottom: 2rem;
}

.modalBlur {
    -webkit-filter: blur(8px);
    filter: blur(8px);
    opacity: 1;
}

#modal {
    position: absolute;
    background-color: #E5D9C8;
    width: 70rem;
    height: 40rem;
    border-radius: 1rem;
}

#modal-content {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

#modal-content .ph {
    position: absolute;
    font-size: 2rem;
    right: 2%;
    top: 2%;
    color: #B0665C;
    cursor: pointer;
}

#modal-content h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: #B0665C;
}

form input, #modal-content input {
    border: 1px solid rgb(118, 116, 116);
    border-radius: .5rem;
    padding: .5rem .5rem;
    margin-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.515);
}

#modal-content button {
    font-size: 1.3rem;
    background-color: #B0665C;
    color: #fff;
}

#title-company {
    margin-left: -100rem;
}

#company-profile table, #candidate-profile table{
    border: 1px solid black;
    border-radius: .7rem;
    border-spacing: 0;
    width: 70rem;
}

#company-profile thead, #candidate-profile  thead {
    background-color:  #B0665C;
    color: #fff;
    font-size: 1.5rem;
}

#company-profile th, #candidate-profile th {
    text-align: center;
    padding: 1rem 1rem;
}

#company-profile tbody tr, #candidate-profile tbody tr {
    color: black;
    text-align: center;
    background-color: rgba(223, 223, 223, 0.515);
    font-size: 1.3em;
}

#company-profile tbody td, #candidate-profile tbody td{
    padding: 1rem 1rem;
}


#company-profile #chart {
    width: 70rem;
    margin: 35px auto;
  }
  